html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  body
    
    div.container
      h1 Total
      br
      h2= TotalValor
      
